*{
    margin: 0;
    padding: 0;
}

.hero{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(/IMG/bg-register.jpg);
    background-position: center;
    background-size: auto;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

}   
.form-box{
    max-width: 600px;
    width: 100%;
    /* height: 100%; */
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    

} 
.form-logo {
    text-align: center;
    display: block;
    margin: auto;
    
} 
.form-box hr{
    text-align: center;
    font-size: 10px;
    color: rgb(250, 117, 23);
}

.form-box form .user-detail{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px 0 12px 0;
    

}

form .user-detail .input-box{
    margin-bottom: 15px;
     width: calc(100% / 2 -20px);
}
.user-detail .input-box .detail{
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
    
}
.user-detail .input-box input{
    height: 40px;
    width: 100%;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgb(204, 113, 52);
    padding-left: 10px;
    font-size: 16px;
     
}
form .button{
    height: 45px;
    margin:  35px 0;

    
}
form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    background: rgb(204, 98, 22);
}
form .button input:hover{
    background: rgb(26, 23, 22);

}
form .control{
    text-align: center;
}
@media (max-width:584px){
    .form-box{
        max-width: 100%;
    }
    form .user-detail .input-box{
        margin-bottom: 15px;
        width: 100%;
    }
    .hero form .user-detail{
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-detail::-webkit-scrollbar{
        width: 0;
    }


}







